@{
    ViewBag.Title = "About";
}
<section id="about">
    <div class="body px-5 mb-5" style="padding-top: 25px;">
        <div class="font-size-30 font-rubik text-center pb-2"><h3>About Swap Deal</h3></div>
        <div>SWAP Deals is the combination of first ever e-commerce and re-commerce marketplace in Bangladesh where customers can purchase anything by personalized orders as well as sell their unneeded/surplus products such as smartphones, laptops, appliances, vehicles, etc. and exchange also.<br><br></div>
        <div>SWAP arranges personalized orders for customers and delivers at their door steps. Hence, customers need not to worry about buying daily groceries or shopping some high-end gadgets, etc. SWAP works as one-stop solution for its valuable customers whether it is about buying, selling or exchanging with whatever products they want.</div><br>
        <div>SWAP offers a seller to sell unneeded items at any convenient location and time, and accepts various payment methods either digitally or by cash. SWAP’s goal is to give endless options to consumers - when a consumer gets money by selling his/her unneeded stuffs, it automatically increases his/her purchasing power at that moment.<br><br></div>
    </div>
</section>
